{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class ="row">
      <!--Image container for cloudinary-->
      <div class="image-container">
        {% if "placeholder" in post.featured_image.url %}
        <img class="card-img-top" src="{% static 'images/default.jpg' %}"
          alt="placeholder image">
        {% else %}
        <img class="card-img-top" src=" {{ post.featured_image.url }}"
          alt="{{ post.title }}">
        {% endif %}
        <div class="image-flash">

        <div class="row justify-content-around">
            <div class="col-4">
              One of two columns
            </div>
            <div class="col-4">
              <h1>Hysterix Bio
            </div>
          </div>
    </div>
   
</div>  

{% endblock %}